{% extends "base.html" %}

{% block title %}
    {{ projects.name }}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ projects.name }}</h1>
            <p>{{ projects.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if projects.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in projects.tasks.all %}
                            <tr>
                                <th>{{ task.name }}</th>
                                <th>{{ task.assignee }}</th>
                                <th>{{ task.start_date }}</th>
                                <th>{{ task.due_date }}</th>
                                <th>{{ task.is_completed|yesno }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
